@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap')

$background: #E0E5EC
$highlight: #FEFEFE
$shadow: #c0cad7

*
  box-sizing: border-box

body, #masterContainer
  background-color: $background

  /* GATEWAY */
  #gatewayContainer
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100vw
    position: relative
    z-index: 10
    // display: none

    #gatewayButton
      border: 0
      font-family: 'Inconsolata', monospace
      font-size: 2rem
      border-radius: 3px
      background-color: $background
      box-shadow: -7px -7px 10px $highlight, 7px 7px 10px $shadow
      padding: 1rem
      outline: none
      cursor: pointer

      &:active
        box-shadow: inset -9px -9px 16px $highlight, inset 9px 9px 16px $shadow
        color: #393939

  /* LIBRARY */
  #libraryContainer
    height: 100vh
    width: 65vw
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

    .book-container
      display: flex
      justify-content: center
      align-items: center
      height: 15rem
      width: 10rem
      background-color: $background
      box-shadow: -7px -7px 10px $highlight, 7px 7px 10px $shadow
      cursor: pointer
      opacity: 0

      .book-cover
        width: 7rem
        display: none
