@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap')

$background: #E0E5EC
$highlight: #FEFEFE
$shadow: #c0cad7
$pressedText: #393939

*
  box-sizing: border-box

body, #masterContainer
  background-color: $background

  /* GATEWAY */
  #gatewayContainer
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100vw

    #gatewayButton
      border: 0
      font-family: 'Inconsolata', monospace
      font-size: 2rem
      border-radius: 7px
      background-color: $background
      box-shadow: -7px -7px 10px $highlight, 7px 7px 10px $shadow
      padding: 1rem
      outline: none
      cursor: pointer

      &:active
        box-shadow: inset -9px -9px 16px $highlight, inset 9px 9px 16px $shadow
        color: $pressedText

  /* LIBRARY */
  #libraryContainer
    display: none

    #libraryInner
      height: 100vh
      width: 65vw
      margin: 0 auto
      display: flex
      justify-content: space-around
      align-items: center
      flex-wrap: wrap

      .book-container
        display: flex
        justify-content: center
        align-items: center
        height: 15rem
        width: 10rem
        background-color: $background
        box-shadow: -7px -7px 10px $highlight, 7px 7px 10px $shadow
        border-radius: 5px
        cursor: pointer
        margin-top: 2rem
        margin-left: 1.5rem

        .book-cover
          width: 7rem
          border-radius: 2px
          display: none

  #navContainer
    display: none
    position: absolute

    #leaveLibraryButton
      margin-left: 1rem
      margin-top: 1rem
      border: 0
      background-color: $background
      font-family: 'Inconsolata', monospace
      font-size: 1.5rem
      box-shadow: -7px -7px 10px $highlight, 7px 7px 10px $shadow
      border-radius: 4px
      width: 8rem
      height: 4rem
      cursor: pointer
      outline: none

      #leaveText
        margin: 0
        display: none

      &:active
        box-shadow: inset -7px -7px 10px $highlight, inset 7px 7px 10px $shadow
        color: $pressedText
